<h1><%= @bug.title%></h1>
<h3><%= @bug.deadline.to_date.strftime("%A, %B, %e, %Y")%></h3>

<%= link_to "edit", edit_bug_path, :class =>"text-primary" %> 

<%= link_to "delete", @bug, :class =>"text-danger",
    data: { confirm: 'Are you sure?' }, method: :delete %> 