
.bg-buggy
{
  background-image: url(bugs.gif);
}

.black-right-border{
	border-right: black 1px solid;
}
.bug{
	padding-top: 10vh;
}

.bg-light-white{
	background-color: #fffffff2;
}
.center{
	text-align: center;
}

.height-50{
	height:50vh;
}

